{% extends "tethys_layouts/map_layout/map_layout.html" %}
{% load static tethys_gizmos %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'sweml/css/main.css' %}" rel="stylesheet"/>
{% endblock %}


{% block after_nav_header %}
  {{ block.super }}
  <form id="sweml-form"
        action="{% url 'sweml:sweml' %}"
        method="post">
    {% csrf_token %}

    <p>Select from the dropdown below to view SWE predictions and an interactive map.</p>

    
    {% gizmo SelectInput model_id %}
    <div id="region-id-div" style="width:100%">{% gizmo SelectInput region_id %}</div>
    {% gizmo date_picker date_picker %}
    <br/>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-play"></span> Update Map
    </button>
  </form>
    <br/>
    <div class="loading-text" style="display:none;">
        <p>Loading Data...</p>
    </div>
    <div class="error-text" style="display:none;">
        <p id="text-error-p"></p>
    </div>
    <br/>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'sweml/js/map.js' %}" type="text/javascript"></script>
{% endblock %}


{% block app_content %}
{{ block.super }}

  <div id="legend" class="legend">
  </div>
  
{% endblock %}